<!DOCTYPE html>
<html>
 <head>
   <link rel="stylesheet" href="stylesheets/style.css" type="text/css">
   <link rel="stylesheet" href="stylesheets/contentpages.css" type="text/css">
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
 </head>
 <body>
   <%- navbar %>
   <div class="container">
   <h1 class="header">Contribute</h1>
   <p class="textpassage">If you're interested in the project and want to contribute, you can head over to our Github page for code contributions and our Patreon page for monetary contributions by clicking on their logos..<br>
   <a href="https://github.com/ThePhysHub"><img src="views/logo_images/github_logo.png" alt="Github logo that leads to the Github organization page." width="225" height="225"></a><br>
   <a href="https://www.patreon.com/physhub"><img src="views/logo_images/patreon_logo.png" alt="Patreon logo that leads to the Patreon page." width="225" height="225"></a></p>
 </div>
 </body>
</html>
