<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="stylesheets/style.css" type="text/css">
    <link rel="stylesheet" href="stylesheets/contentpages.css" type="text/css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  </head>
  <body>
    <%- navbar %>
    <div class="container">
    <h1 class="header">Contribute</h1>
    <p class="textpassage">If you're interested in the project and want to contribute, you can head over to our Github page for code contributions and our Patreon page for monetary contributions.<br>
    Github: https://github.com/ThePhysHub<br>
    Patreon: https://www.patreon.com/physhub</p>
  </div>
  </body>
</html>
