<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="stylesheets/style.css" type="text/css">
  </head>
  <body>
    <h1>The PhysicsHub</h1>
    <p>One place to view all the simulations in physics</p>
    <button variant="raised">
      Explore
    </button>
  </body>
</html>
