<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="stylesheets/stylePurple.css" type="text/css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  </head>
  <body>
    <%- navbar %>
    <!-- Home page content -->
    <div class="content">
        <h1>The Physics Hub</h1>
        <p>One place to view all the simulations in physics.</p>
        <a href="/simulations">
            <button variant="raised"><b>
                Explore simulations
              </b></button>
        </a>
    </div>
    <!-- Home page content end -->
  </body>
</html>
