<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/stylesheets/sim.css" type="text/css">
    <link rel="stylesheet" href="/stylesheets/nav.css" type="text/css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
  </head>
  <body>
    <div id="container">
    <%- navbar %>
    <div id="simcontainer">
        <h2 id = "simulation-headline"><span><%= sim.name %></span></h2>
      <div id = "simwrapper"></div>
      <p id = "explanation">
        <%- sim.explanation %>
      </p>
    </div>
    <script src="/javascripts/libraries/p5.min.js"></script>
    <script src="/javascripts/libraries/grafica.min.js"></script>
    <script src="/javascripts/libraries/dropdownFunctions.js"></script>
    <script src="/javascripts/libraries/sim-tools.js"></script>
    <script src="/javascripts/libraries/math.js"></script>
    <script src="/javascripts/libraries/quicksettings.js"></script>
    <script src="/javascripts/libraries/p5.gui.js"></script>
    <script src="/javascripts/<%= sim.jsfile %>.js"></script>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
  </div>
  </body>
</html>
