@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;0,600;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500;700;900&display=swap');
html, body {
  background: #270042;
  background-blend-mode: hard-light;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.content{
    background-image: url(/images/background.png);
    background-size: 100%;
    position: fixed;
    display: block;
    min-height: 100vh;
    margin-top: 3.5em;
    padding: 100px;
    top: 0;
    left: 0;
    right: 0px;
    overflow-x: hidden;

}

.content h1{
    font-family: 'Rubik', sans-serif;
    position: relative;
    color: #ffffff;
    font-size: 64px;
    line-height: 1;
    font-weight: 600;
    margin-top: 10%;
    margin-bottom: 3%;
    text-align: center;
}

.content p{
    position: relative;
    color: #e9e9e9;
    margin-bottom: 5%;
    text-align: center;
    font-size: 24px;
    line-height: 1.5;
}

.content button{
    position: relative;
    margin: auto;
    display: block;
    text-align: center;
    background-color: #FF0060;;
    color: #fff;
    height: 50px;
    font-size: 16px;
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    padding: 12px 35px;
    color: #ffffff;
    border-radius: 40px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    white-space: nowrap;
    border: none;
    cursor: pointer;
    outline: none;
}

.content button:focus{
    border: none;
    outline: none;
}

.content a:hover{
    text-decoration: none;
}

.content button:hover{
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
    text-decoration: none;
}


.navbar{
    background-color: #270042;;
    font-family: 'Rubik', sans-serif;
    padding-left: 10%;
}

.navbar .navbar-brand{
    padding-left: 2.5%;
}

.navbar a{
    color: #fff;
}

.navbar a:hover{
    color: #f2f2fc;
}

.navbar .navbar-nav{
    padding-right: 2.5%;
}

.navbar .navbar-nav .nav-item{
    margin-right: 2.5%;
}

.navbar .navbar-nav .nav-item:hover{
    background-color: #ff0060;
    border-radius: 40px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;

}



