<DOCTYPE! html>
<head>
    <style>
        .explanation{
        }
        .sim_explanation{
            margin-top: 2.5em;
            font-size: 20px;
            font-weight: 150;
            text-align: justify;
            font-family: 'Montserrat', sans-serif;
            color: #e9e9e9;
            width: 45em;
            margin-right: auto;
            margin-left: auto;
        }
    </style>
</head>
<body>
<div class = "explanation">
    <h1 class = "sim_explanation" style="font-size:35px;">Explanation</h1>
    <p class="sim_explanation">This is an elastic pendulum where a bob is fixed on one end of a spring and the other is
    fixed in place.</p>

    <p class="sim_explanation">To find the equations of motion, we must first find the Lagrangian of the system.
        As a reminder, the Lagrangian is usually expressed as</p>
    <p class="sim_explanation">$$L = T - V$$</p>

    <p class="sim_explanation">where \(T\) is the kinetic energy and \(V\) is the potential energy of the system.</p>

    <p class="sim_explanation">For our case, we will use polar coordinates (\(\theta\) will be the angle of oscillation
        and \(r\) will be the length of the spring) to make the derivation easier, but the Lagrangian should work just
        as well with any other set of coordinates. We'll begin by finding \(T\), the kinetic energy.
    </p>

    <p class="sim_explanation">$$T=\frac{1}{2}mv^2$$</p>
    <p class="sim_explanation">In polar coordinates, it becomes</p>
    <p class="sim_explanation">$$T = \frac{1}{2}m(v_{r}^2 + v_{\theta}^2)$$</p>
    <p class="sim_explanation">where \(v_{r}\) can be expressed as \(\dot{r}\) and \(v_{\theta}\) as \(r\dot{\theta}\). Now,
        we have</p>

    <p class="sim_explanation">$$T = \frac{1}{2}m(\dot{r}^2 + (r\dot{\theta})^2)$$</p>

    <p class="sim_explanation">Now we can move onto the potential energy, \(V\). In the elastic pendulum, we have equations
        for potential energy. The first comes from the familiar gravitational potential:</p>
    <p class="sim_explanation">$$V_g = -mgr\cos(\theta)$$</p>

    <p class="sim_explanation">The second is the elastic potential from the spring. This is written as</p>
    <p class="sim_explanation">$$V_k = \frac{1}{2}kr^2$$</p>
    <p class="sim_explanation">where \(k\) is the spring constant.</p>

    <p class="sim_explanation">With the kinetic and potential energies of the system, we can go back to the Lagrangian:</p>
    <p class="sim_explanation">$$L = T - V$$</p>
    <p class="sim_explanation">$$L=\frac{1}{2}m(\dot{r}^2+(r\dot{\theta})^2-(-mgr\cos(\theta)+\frac{1}{2}kr^2)$$</p>
    <p class="sim_explanation">And with some simplification, we get:</p>
    <p class="sim_explanation">$$L=\frac{1}{2}m\dot{r}^2+\frac{1}{2}mr^2\dot{\theta}^2+mgr\cos(\theta)-\frac{1}{2}kr^2$$</p>

    <p class="sim_explanation">From here, we use the Euler-Lagrange equations to find the equations of motion. We will
        first find the equations of motion with respect to \(r\):</p>

    <p class="sim_explanation">$$\frac{d}{dt} \frac{\partial L}{\partial \dot{r}} = \frac{\partial L}{\partial r}$$</p>
    <p class="sim_explanation">$$\frac{d}{dt}(m\dot{r}) = mr\dot{\theta}^2 + mg\cos(\theta) - kr$$</p>
    <p class="sim_explanation">$$m\ddot{r} = mr\dot{\theta} + mg\cos(\theta) - k$$</p>
    <p class="sim_explanation">$$\ddot{r} = r\dot{\theta} + g\cos{\theta} - \frac{k}{m}$$</p>

    <p class="sim_explanation">At this point, we will move onto the equations of motion with respect to \(\theta\).
        Again, we start with the Euler-Lagrange equations:</p>
    <p class="sim_explanation">$$\frac{d}{dt} \frac{\partial L}{\partial \dot{\theta}} = \frac{\partial L}{\partial \theta}$$</p>
    <p class="sim_explanation">$$\frac{d}{dt}(mr^2\dot{theta}) = -mgr\sin(\theta)$$</p>
    <p class="sim_explanation">$$mr^2\ddot{\theta} + 2mr\dot{r}\dot{\theta} = -mgr\sin(\theta)$$</p>
    <p class="sim_explanation">$$\ddot{\theta} = \frac{-mgr\sin(\theta) - 2mr\dot{r}\dot{\theta}}{mr^2}$$</p>
    <p class="sim_explanation">$$\ddot{\theta} = \frac{-g\sin(\theta)}{r} - \frac{2\dot{r}\dot{\theta}}{r}$$</p>

    <p class="sim_explanation">With the following equations:</p>
    <p class="sim_explanation">$$\ddot{r} = r\dot{\theta} + g\cos{\theta} - \frac{k}{m}$$</p>
    <p class="sim_explanation">$$\ddot{\theta} = \frac{-g\sin(\theta)}{r} - \frac{2\dot{r}\dot{\theta}}{r}$$</p>
    <p class="sim_explanation">We can now find how the system evolves over time with differentiation methods such as the
        Runge-Kutta method or Euler's method. Thank you for reading this section over the elastic pendulum
        and if you found any mistakes or have comments or concerns, please reach out to us in the about page.</p>

</div>
</div>
</body>
