<DOCTYPE! html>
<head>
  <style>
    :root{
        --scaling_factor1: 1;
    }

    svg{
      margin: 1em;
      width: 25rem;
      height: 15rem;
      background-color: #151515;
      border-radius: .3rem;
    }
    .unit{
      stroke: white;
      stroke-width: .07rem;
      transition-duration: .5s;
      fill: none;
      stroke-linecap: round;
    }
    .square{
      fill: cornflowerblue;
    }
    .arrow{
      fill: white;
    }

    #first.square{
      transform: translate(50%, 50%) scale(var(--scaling_factor1), var(--scaling_factor1)) translate(37.5px, 0);
    }

    #first.spring{
      transform: translate(12.5%, 50%) scale(calc(var(--scaling_factor1)*2), var(--scaling_factor1)) translate(37.5px, 0);
    }

    #first.wall{
      transform: translate(12.5%, 50%) scale(calc(var(--scaling_factor1)*.2), calc(var(--scaling_factor1)*.3)) translate(-37.5px, 0);
      stroke-width: 0.3rem;
    }
    .latex{
      fill: white;
    }
    #first.arrow, #first.F{
      transform: translate(42.5%, 50%) scale(calc(1.2*var(--scaling_factor1)), calc(-.9*var(--scaling_factor1))) translate(37.5px, 0);
      opacity: 0;
      transition-duration: 0.5s;
    }
    #first.F{
      transform: translate(52.5%, 40%) scale(calc(0.3*var(--scaling_factor1)), calc(-.3*var(--scaling_factor1))) translate(37.5px, 0);
      stroke: black;
      transition-duration: 0.5s;
    }

    svg#first:hover>#first.spring{
      transform: translate(12.5%, 50%) scale(calc(var(--scaling_factor1)*1.07), var(--scaling_factor1)) translate(37.5px, 0);
      transition-delay: 0s;
    }
    svg#first:hover #first.square{
      transform: translate(32.5%, 50%) scale(var(--scaling_factor1), var(--scaling_factor1)) translate(37.5px, 0);
      transition-delay: 0s;
    }
    svg#first:hover #first.arrow, svg#first:hover #first.F{
      opacity: 1;
    }

    #vec.arrow{
      transform: translate(54.5%, 32%) scale(calc(0.2*var(--scaling_factor1)), calc(-.2*var(--scaling_factor1))) translate(37.5px, 0);
      opacity: 0;
      transition-duration: 0.5s;
    }
    svg:hover>#vec.arrow{
      opacity: 1;
    }

    #second.axis{
      transform: translate(12.5%, 80%) scale(calc(var(--scaling_factor1)*4), calc(var(--scaling_factor1)*4)) translate(37.5px, 0);
      fill: white;
      stroke-width: 0.03rem;
    }

    #second.l{
      transform: translate(32.5%, 90%) scale(calc(var(--scaling_factor1)*.3), calc(-1*var(--scaling_factor1)*.3));
      opacity: 1;
    }

    #second.x{
      transform: translate(92.5%, 90%) scale(calc(var(--scaling_factor1)*.3), calc(-1*var(--scaling_factor1)*.3));
    }

    #second.l_0{
      transform: translate(50%, 90%) scale(calc(var(--scaling_factor1)*.3), calc(-1*var(--scaling_factor1)*.3));
      opacity:1;
    }
    #expression.fancy_bracket{
      transform: translate(32.5%, 25%) scale(calc(var(--scaling_factor1)),calc(var(--scaling_factor1))) translate(37.5px, 0px) rotateZ(90deg);
      stroke-width: .01rem;
    }

    #expression.k{
      transform: translate(32.5%, 15%) scale(calc(var(--scaling_factor1)*0.2),calc(-.2*var(--scaling_factor1))) translate(37.5px, 0px);
    }
    #expression.l{
      transform: translate(37.5%, 15%) scale(calc(var(--scaling_factor1)*0.2),calc(-.2*var(--scaling_factor1))) translate(37.5px, 0px);
    }
    #expression.l_0{
      transform: translate(44.5%, 15%) scale(calc(var(--scaling_factor1)*0.2),calc(-.2*var(--scaling_factor1))) translate(37.5px, 0px);
    }
    #expression.min{
      transform: translate(41.0%, 15%) scale(calc(var(--scaling_factor1)*0.2),calc(-.2*var(--scaling_factor1))) translate(37.5px, 0px);
    }
    #expression.min2{
      transform: translate(29.0%, 15%) scale(calc(var(--scaling_factor1)*0.2),calc(-.2*var(--scaling_factor1))) translate(37.5px, 0px);
    }
    #expression.eq{
      transform: translate(23.5%, 15%) scale(calc(var(--scaling_factor1)*0.2),calc(-.2*var(--scaling_factor1))) translate(37.5px, 0px);
    }
    #expression.brac_left{
      transform: translate(35.5%, 15%) scale(calc(var(--scaling_factor1)*0.2),calc(-.2*var(--scaling_factor1))) translate(37.5px, 0px);
    }
    #expression.brac_right{
      transform: translate(50.5%, 15%) scale(calc(var(--scaling_factor1)*-0.2),calc(-.2*var(--scaling_factor1))) translate(37.5px, 0px);
    }
    #expression.F{
      transform: translate(18.5%, 15%) scale(calc(var(--scaling_factor1)*0.2),calc(-.2*var(--scaling_factor1))) translate(37.5px, 0px);
    }
    #expression{
      opacity: 0;
      transition-duration: 0.5s;
    }
    svg:hover>#expression{
      opacity: 1;
    }

    #third.min3{
      transform: translate(12.5%, 85%) scale(calc(var(--scaling_factor1)*4),calc(var(--scaling_factor1)*0.5)) translate(37.5px, 0px);
    }

    #third.min4{
      transform: translate(12.5%, 85%) scale(calc(var(--scaling_factor1)*.5),calc(var(--scaling_factor1)*2)) rotate(-90deg) translate(37.5px, 0px);
    }

    #third.square{
      transform: translate(50%, 30%) scale(var(--scaling_factor1), var(--scaling_factor1)) translate(37.5px, 0);
      transition-delay: 0.5s;
    }

    #third.spring{
      transform: translate(12.5%, 30%) scale(calc(var(--scaling_factor1)*2), var(--scaling_factor1)) translate(37.5px, 0);
      transition-delay: 0.5s;
      fill: none;
    }


    #third.spring2{
      transform: translate(60%, 85%) scale(calc(var(--scaling_factor1)*1.2), calc(1.26*var(--scaling_factor1))) rotateZ(-90deg) translate(37.5px, 0);
      transition-delay: 0.5s;
      fill: none;
    }

    svg#first:hover>#third.spring{
      transform: translate(12.5%, 50%) scale(calc(var(--scaling_factor1)*1.07), var(--scaling_factor1)) translate(37.5px, 0);
      transition-delay: 0s;
    }

    svg#first:hover>#third.spring2{
      transform: translate(42.5%, 85%) scale(calc(var(--scaling_factor1)*1.2), calc(.6*var(--scaling_factor1))) rotateZ(-90deg) translate(37.5px, 0);
      transition-delay: 0s;
    }

    svg#first:hover #third.square{
      transform: translate(32.5%, 50%) scale(var(--scaling_factor1), var(--scaling_factor1)) translate(37.5px, 0);
      transition-delay: 0s;
    }

    .wheel, .wheel2{
      fill: black;
      stroke: white;
      stroke-width: 0.3;
      transition-duration: .5s;
      transition-delay: .5s;
    }
    .wheel{
      transform:translate(12.5%, 30%) scale(calc(.1*var(--scaling_factor1)), calc(.1*var(--scaling_factor1)));
    }
    .wheel2{
      transform:translate(60%, 85%) scale(calc(.1*var(--scaling_factor1)), calc(.1*var(--scaling_factor1)));
    }

    svg#first:hover .wheel{
      transform:translate(12.5%, 50%) scale(calc(.1*var(--scaling_factor1)), calc(.1*var(--scaling_factor1)));
      transition-delay: 0s;
    }

    svg#first:hover .wheel2{
      transform:translate(42.5%, 85%) scale(calc(.1*var(--scaling_factor1)), calc(.1*var(--scaling_factor1)));
      transition-delay: 0s;
    }
  </style>
</head>
<body>
  <div class = "explanation">
  <h1 class = "sim_explanation" style="font-size:35px;">Explanation</h1>
  <p class="sim_explanation">This simulation demonstrates Hooke's law acts in 1 dimension.</p>
  <p class="sim_explanation">Hooke's law is an empirical law first discovered by British Natural Philosopher (scientist) Robert Hooke. It states that the force that a spring applies is directly proportional to the negative of the displacement from the equilibrium length.</p>
  <p class="sim_explanation">But before showing looking at the animation below, which demonstrates this effect. Try to relate what you have just read to personal experience. When you are not pulling or pushing on a spring, it has a fixed length and does not apply any force on your finger. If you push on it, it will become shorter than before, therefore the change in length will be negative. Yet, since the force is proportional to the negative of the change in length, it will push your finger in the opposite direction. The same logic works for when you pull on the spring. The force the spring will apply on your finger will be such that it tries to counter the deformation due to the force you are applying on the spring.</p>
  <p class="sim_explanation">Place the mouse on top of the image below to see the animation.</p>
  <div style = "display: flex; justify-content: center;">
    <svg id="first">
      <path class="unit spring" id="first" d="M -37.5 0 L -30 0 L -22.5 -15 L -15 15 L -7.5 -15 L 0 15 L 7.5 -15 L 15 15 L 22.5 -15 L 30 0 L 37.5 0"></path>
      <path class="unit square" id="first" d="M -37.5 37.5 L -37.5 -37.5 L 37.5 -37.5 L 37.5 37.5 Z"></path>
      <path class="unit latex F" id="first" d="M -36.8 -37.4 Q -38.6 -37.4 -38.6 -36.3 Q -38.6 -36.1 -38.3 -34.9 Q -37.9 -33.1 -37.5 -32.9 T -35 -32.6 Q -32.2 -32.6 -28.7 -32.3 Q -27.2 -32 -26.7 -31 Q -26.5 -30.5 -19.1 -1.3 T -11.8 28.4 Q -11.8 29.1 -12.2 29.1 Q -13 29.4 -17.8 29.6 H -21.1 Q -21.7 30.2 -21.7 30.5 T -21.4 32.3 Q -21.1 34.1 -20.4 34.5 H 36.6 Q 37.4 34.1 37.4 33.3 Q 37.4 32.8 36 21.4 T 34.5 9.8 Q 34.3 9.1 32.4 9.1 H 31.1 Q 30.4 9.6 30.4 10.4 Q 30.4 10.6 30.7 13 T 31 18.6 Q 31 21.8 30.3 23.8 T 28.3 27.1 T 24.4 28.8 T 19 29.5 T 11.3 29.6 H 8.9 Q 0.2 29.5 -0.3 29.3 Q -0.8 29.1 -1.1 28.4 Q -1.1 28.4 -4.7 14.6 L -8 0.9 H -2.3 Q -1.9 0.9 0.2 0.9 T 3.2 1.1 T 5.5 1.3 T 8 2.1 T 9.8 3.4 Q 11.3 4.7 12.2 6.8 T 13.6 10.9 T 14.1 12.8 Q 14.4 13.3 16.1 13.3 H 17.4 Q 18.1 12.8 18.1 12.2 Q 18.1 11.9 14.9 -1.6 T 11.3 -15.6 Q 11 -16.4 9.1 -16.4 H 7.9 Q 7.1 -15.7 7.1 -15.1 Q 7.1 -14.8 7.6 -12.8 T 8.2 -8.5 Q 8.2 -5.4 6.1 -4.7 T -3.4 -4 H -9.2 L -12.6 -17.4 Q -16 -30.5 -16 -31.1 Q -16 -32.6 -6.5 -32.6 H -3.9 Q -3.3 -33.3 -3.3 -33.4 T -3.4 -35.5 Q -3.9 -36.9 -4.6 -37.5 H -6.4 Q -10.6 -37.3 -22.3 -37.3 Q -29.2 -37.3 -32.8 -37.3 T -36.8 -37.4 Z"></path>
      <path class="unit arrow" id="first" d="M -36.6 -1.05 T -36.6 0 T -35.475 1.65 H 27.6 Q 18.075 8.85 15.825 20.025 Q 15.825 20.1 15.825 20.325 T 15.75 20.55 Q 15.75 21.525 17.175 21.525 H 17.4 Q 18.15 21.525 18.375 21.45 T 18.9 21.15 T 19.125 20.4 T 19.425 19.05 T 20.025 17.025 Q 21.9 11.475 26.1 7.125 T 35.925 0.9 Q 36.6 0.675 36.6 0 Q 36.6 -0.525 36.225 -0.75 T 34.275 -1.575 T 31.125 -3.15 Q 27.75 -5.25 25.275 -8.1 T 21.525 -13.575 T 19.8 -17.775 T 19.125 -20.325 Q 18.975 -21.15 18.75 -21.3 T 17.4 -21.525 Q 15.75 -21.525 15.75 -20.625 Q 15.75 -20.025 16.2 -18.525 Q 18.825 -8.175 27.6 -1.65 H -35.475 Q -36.6 -1.05 -36.6 0 Z"></path>
      <path class="unit wall" id="first" d="M 37.5 -150 L 37.5 150 M -37.5 112.5 L 37.5 150 M -37.5 75 L 37.5 112.5 M -37.5 37.5 L 37.5 75 M -37.5 0 L 37.5 37.5 M -37.5 -37.5 L 37.5 0 M -37.5 -75 L 37.5 -37.5 M -37.5 -112.5 L 37.5 -75 M -37.5 -150 L 37.5 -112.5 M -37.5 -187.5 L 37.5 -150"></path>
    </svg>
  </div>
  <p class="sim_explanation">In that animation, a spring is initially in it's equilibrium position. Then a mass is attached to its end. Furthermore, irrespective of the way you push the mass, the spring will push back the opposite direction.</p>
  <p class="sim_explanation">Now that you understand the physical event of the force of the spring being the result of it trying to remain in it's equilibrium position, you can start thinking about measurements. And after performing an experiement, your conclusion will be what has been described in the first paragraph. The magnetude of the force of the spring will be proportional to the displacement from the equilibrium position. As such we are now able to explain this in terms of mathematics:</p>
  <p class="sim_explanation">The direct proportionality between the force produced by the spring can be described by the following equation: $$ F = -k\Delta l$$</p>
  <p class="sim_explanation">Where \(k\) is a constant that accounts for the stiffness(how difficult it is to deform) of the spring and where \(\Delta l\) is the length of the spring relative to the length where it produces no net force. $$\Delta l = l-l_0 $$ Where \( l_0\) and \(l\) are the equilibrium and current lengths of the spring. $$ F = -k(l-l_0) $$</p>
  <p class="sim_explanation">Now things are about to become more intetesting because we are about to see how to apply this concept numerically to a spring positioned in a cartesian coordinate system. First suppose that the spring is attached orthogonally to a wall near the floor and that we start measuring the length of the spring from the wall along the axis of the spring as depicted in the image below. Let that be the x-axis of our coordinate system.</p>
  <p class="sim_explanation">Here, due to the fact that the length is the value where the tip of the spring lies along the \(x\) axis, the formula from above becomes: $$ F=-k(x - x_0)$$</p>
  <div style = "display: flex; justify-content: center;">
    <svg id="first">
      <path class="unit spring" id="first" d="M -37.5 0 L -30 0 L -22.5 -15 L -15 15 L -7.5 -15 L 0 15 L 7.5 -15 L 15 15 L 22.5 -15 L 30 0 L 37.5 0"></path>
      <path class="unit square" id="first" d="M -37.5 37.5 L -37.5 -37.5 L 37.5 -37.5 L 37.5 37.5 Z"></path>
      <path class="unit latex F" id="first" d="M -36.8 -37.4 Q -38.6 -37.4 -38.6 -36.3 Q -38.6 -36.1 -38.3 -34.9 Q -37.9 -33.1 -37.5 -32.9 T -35 -32.6 Q -32.2 -32.6 -28.7 -32.3 Q -27.2 -32 -26.7 -31 Q -26.5 -30.5 -19.1 -1.3 T -11.8 28.4 Q -11.8 29.1 -12.2 29.1 Q -13 29.4 -17.8 29.6 H -21.1 Q -21.7 30.2 -21.7 30.5 T -21.4 32.3 Q -21.1 34.1 -20.4 34.5 H 36.6 Q 37.4 34.1 37.4 33.3 Q 37.4 32.8 36 21.4 T 34.5 9.8 Q 34.3 9.1 32.4 9.1 H 31.1 Q 30.4 9.6 30.4 10.4 Q 30.4 10.6 30.7 13 T 31 18.6 Q 31 21.8 30.3 23.8 T 28.3 27.1 T 24.4 28.8 T 19 29.5 T 11.3 29.6 H 8.9 Q 0.2 29.5 -0.3 29.3 Q -0.8 29.1 -1.1 28.4 Q -1.1 28.4 -4.7 14.6 L -8 0.9 H -2.3 Q -1.9 0.9 0.2 0.9 T 3.2 1.1 T 5.5 1.3 T 8 2.1 T 9.8 3.4 Q 11.3 4.7 12.2 6.8 T 13.6 10.9 T 14.1 12.8 Q 14.4 13.3 16.1 13.3 H 17.4 Q 18.1 12.8 18.1 12.2 Q 18.1 11.9 14.9 -1.6 T 11.3 -15.6 Q 11 -16.4 9.1 -16.4 H 7.9 Q 7.1 -15.7 7.1 -15.1 Q 7.1 -14.8 7.6 -12.8 T 8.2 -8.5 Q 8.2 -5.4 6.1 -4.7 T -3.4 -4 H -9.2 L -12.6 -17.4 Q -16 -30.5 -16 -31.1 Q -16 -32.6 -6.5 -32.6 H -3.9 Q -3.3 -33.3 -3.3 -33.4 T -3.4 -35.5 Q -3.9 -36.9 -4.6 -37.5 H -6.4 Q -10.6 -37.3 -22.3 -37.3 Q -29.2 -37.3 -32.8 -37.3 T -36.8 -37.4 Z"></path>
      <path class="unit arrow" id="first" d="M -36.6 -1.05 T -36.6 0 T -35.475 1.65 H 27.6 Q 18.075 8.85 15.825 20.025 Q 15.825 20.1 15.825 20.325 T 15.75 20.55 Q 15.75 21.525 17.175 21.525 H 17.4 Q 18.15 21.525 18.375 21.45 T 18.9 21.15 T 19.125 20.4 T 19.425 19.05 T 20.025 17.025 Q 21.9 11.475 26.1 7.125 T 35.925 0.9 Q 36.6 0.675 36.6 0 Q 36.6 -0.525 36.225 -0.75 T 34.275 -1.575 T 31.125 -3.15 Q 27.75 -5.25 25.275 -8.1 T 21.525 -13.575 T 19.8 -17.775 T 19.125 -20.325 Q 18.975 -21.15 18.75 -21.3 T 17.4 -21.525 Q 15.75 -21.525 15.75 -20.625 Q 15.75 -20.025 16.2 -18.525 Q 18.825 -8.175 27.6 -1.65 H -35.475 Q -36.6 -1.05 -36.6 0 Z"></path>
      <path class="unit arrow" id="vec" d="M -36.6 -1.05 T -36.6 0 T -35.475 1.65 H 27.6 Q 18.075 8.85 15.825 20.025 Q 15.825 20.1 15.825 20.325 T 15.75 20.55 Q 15.75 21.525 17.175 21.525 H 17.4 Q 18.15 21.525 18.375 21.45 T 18.9 21.15 T 19.125 20.4 T 19.425 19.05 T 20.025 17.025 Q 21.9 11.475 26.1 7.125 T 35.925 0.9 Q 36.6 0.675 36.6 0 Q 36.6 -0.525 36.225 -0.75 T 34.275 -1.575 T 31.125 -3.15 Q 27.75 -5.25 25.275 -8.1 T 21.525 -13.575 T 19.8 -17.775 T 19.125 -20.325 Q 18.975 -21.15 18.75 -21.3 T 17.4 -21.525 Q 15.75 -21.525 15.75 -20.625 Q 15.75 -20.025 16.2 -18.525 Q 18.825 -8.175 27.6 -1.65 H -35.475 Q -36.6 -1.05 -36.6 0 Z"></path>
      <path class="unit wall" id="first" d="M 37.5 -150 L 37.5 150 M -37.5 112.5 L 37.5 150 M -37.5 75 L 37.5 112.5 M -37.5 37.5 L 37.5 75 M -37.5 0 L 37.5 37.5 M -37.5 -37.5 L 37.5 0 M -37.5 -75 L 37.5 -37.5 M -37.5 -112.5 L 37.5 -75 M -37.5 -150 L 37.5 -112.5 M -37.5 -187.5 L 37.5 -150"></path>
      <path class="unit axis" id="second" d="M -37.5 0 L 37.5 0 M -22.5 -3.75 L -22.5 3.75 M -7.5 -3.75 L -7.5 3.75 M 7.5 -3.75 L 7.5 3.75 M 22.5 -3.75 L 22.5 3.75 M 37.5 -3.75 L 37.5 3.75 L 45 0 Z M -30 -1.88 L -30 1.88 M -15 -1.88 L -15 1.88 M 0 -1.88 L 0 1.88 M 15 -1.88 L 15 1.88 M 30 -1.88 L 30 1.88"></path>
      <path class="unit latex l" id="second" d="M -2.25 -31.05 Q -2.25 -34.65 0.53 -34.65 Q 4.5 -34.65 7.35 -23.18 Q 8.03 -21 8.47 -20.93 Q 8.7 -20.78 9.53 -20.78 H 9.98 Q 10.95 -20.78 11.32 -20.78 T 11.85 -21 T 12.08 -21.75 Q 11.93 -22.43 11.78 -23.55 T 10.57 -27.68 T 8.32 -32.77 T 4.95 -36.83 T -0.07 -38.7 Q -3.98 -38.7 -7.35 -36.3 T -10.88 -28.2 Q -10.88 -26.92 -10.72 -26.4 L -3.68 1.8 Q 3.22 29.63 3.22 30.52 Q 3.22 30.82 3.15 31.05 T 2.7 31.5 T 2.1 31.72 T 1.28 31.8 T 0.38 31.95 T -0.6 32.02 T -1.65 32.02 Q -2.77 32.02 -3.08 32.02 T -3.98 32.1 T -4.65 32.48 T -4.72 33.15 Q -4.72 33.3 -4.5 34.65 Q -3.98 36.75 -3.3 36.98 T 4.5 37.58 Q 6.15 37.73 8.25 37.8 T 11.55 38.17 T 12.75 38.25 Q 14.03 38.25 14.03 37.35 Q 14.03 36.15 6.08 4.65 T -2.1 -28.43 Q -2.1 -28.65 -2.1 -29.33 T -2.25 -30.38 V -31.05 Z"></path>

      <path class="unit latex l" id="expression" d="M -2.25 -31.05 Q -2.25 -34.65 0.53 -34.65 Q 4.5 -34.65 7.35 -23.18 Q 8.03 -21 8.47 -20.93 Q 8.7 -20.78 9.53 -20.78 H 9.98 Q 10.95 -20.78 11.32 -20.78 T 11.85 -21 T 12.08 -21.75 Q 11.93 -22.43 11.78 -23.55 T 10.57 -27.68 T 8.32 -32.77 T 4.95 -36.83 T -0.07 -38.7 Q -3.98 -38.7 -7.35 -36.3 T -10.88 -28.2 Q -10.88 -26.92 -10.72 -26.4 L -3.68 1.8 Q 3.22 29.63 3.22 30.52 Q 3.22 30.82 3.15 31.05 T 2.7 31.5 T 2.1 31.72 T 1.28 31.8 T 0.38 31.95 T -0.6 32.02 T -1.65 32.02 Q -2.77 32.02 -3.08 32.02 T -3.98 32.1 T -4.65 32.48 T -4.72 33.15 Q -4.72 33.3 -4.5 34.65 Q -3.98 36.75 -3.3 36.98 T 4.5 37.58 Q 6.15 37.73 8.25 37.8 T 11.55 38.17 T 12.75 38.25 Q 14.03 38.25 14.03 37.35 Q 14.03 36.15 6.08 4.65 T -2.1 -28.43 Q -2.1 -28.65 -2.1 -29.33 T -2.25 -30.38 V -31.05 Z"></path>
      <path class="unit latex l l_0" id="expression" d="M -2.25 -31.05 Q -2.25 -34.65 0.53 -34.65 Q 4.5 -34.65 7.35 -23.18 Q 8.03 -21 8.47 -20.93 Q 8.7 -20.78 9.53 -20.78 H 9.98 Q 10.95 -20.78 11.32 -20.78 T 11.85 -21 T 12.08 -21.75 Q 11.93 -22.43 11.78 -23.55 T 10.57 -27.68 T 8.32 -32.77 T 4.95 -36.83 T -0.07 -38.7 Q -3.98 -38.7 -7.35 -36.3 T -10.88 -28.2 Q -10.88 -26.92 -10.72 -26.4 L -3.68 1.8 Q 3.22 29.63 3.22 30.52 Q 3.22 30.82 3.15 31.05 T 2.7 31.5 T 2.1 31.72 T 1.28 31.8 T 0.38 31.95 T -0.6 32.02 T -1.65 32.02 Q -2.77 32.02 -3.08 32.02 T -3.98 32.1 T -4.65 32.48 T -4.72 33.15 Q -4.72 33.3 -4.5 34.65 Q -3.98 36.75 -3.3 36.98 T 4.5 37.58 Q 6.15 37.73 8.25 37.8 T 11.55 38.17 T 12.75 38.25 Q 14.03 38.25 14.03 37.35 Q 14.03 36.15 6.08 4.65 T -2.1 -28.43 Q -2.1 -28.65 -2.1 -29.33 T -2.25 -30.38 V -31.05 Z M 20.93 -20.63 Q 22.2 -18.75 24.38 -18.75 Q 25.43 -18.75 26.47 -19.35 T 28.27 -21.45 Q 29.1 -23.25 29.1 -26.55 Q 29.1 -30.08 28.13 -31.88 Q 27.68 -32.85 26.92 -33.38 T 25.5 -34.13 T 24.38 -34.27 Q 23.77 -34.27 23.18 -34.13 T 21.82 -33.38 T 20.63 -31.88 Q 19.65 -30.08 19.65 -26.55 Q 19.65 -22.65 20.93 -20.63 Z M 25.95 -20.33 Q 25.28 -19.57 24.38 -19.57 Q 23.4 -19.57 22.72 -20.33 Q 22.2 -20.93 21.97 -21.9 T 21.82 -26.25 Q 21.82 -29.85 21.97 -30.9 T 22.8 -32.7 Q 23.48 -33.38 24.38 -33.38 Q 25.28 -33.38 25.87 -32.7 Q 26.55 -32.02 26.7 -30.82 T 26.92 -26.25 Q 26.92 -23.02 26.7 -21.97 T 25.95 -20.33 Z"></path>
      <path class="unit latex k" id="expression" d="M -16.43 35.32 Q -16.43 36.45 -15.97 37.88 T -14.63 39.38 Q -14.47 39.38 -6.52 39.9 T 1.72 40.58 Q 3.08 40.58 3.08 39.68 Q 3.08 38.85 -2.55 16.2 Q -8.18 -6.08 -8.18 -6.9 Q -6.08 -5.78 -4.95 -4.72 Q -2.25 -2.7 2.85 2.33 T 10.72 9.22 Q 15.23 12.22 19.28 12.22 Q 22.65 12.22 24.6 10.13 T 26.55 3.98 Q 26.55 1.2 25.8 -0.67 T 23.7 -3.52 T 21.3 -4.72 T 19.28 -5.1 Q 17.03 -5.1 15.67 -3.82 T 14.33 -0.6 Q 14.33 2.25 16.13 3.98 T 19.73 6.38 L 21.52 6.75 Q 20.18 8.1 18.82 8.1 H 18.38 Q 14.78 7.72 11.25 5.25 T 3.08 -1.95 T -4.35 -8.78 Q -4.13 -8.92 -2.7 -9.15 T 0.07 -9.83 T 2.92 -10.72 T 6 -12.3 T 8.47 -14.33 T 10.35 -17.25 T 11.02 -21 Q 11.02 -22.88 10.5 -25.58 T 9.83 -30.08 Q 9.83 -34.58 12.83 -34.58 Q 18.22 -34.58 21.6 -21.22 Q 21.82 -20.25 23.93 -20.25 H 24.3 Q 26.1 -20.25 26.1 -21.3 Q 26.1 -21.82 25.8 -22.88 Q 21.15 -38.7 12.53 -38.7 Q 7.5 -38.7 4.28 -35.77 T 1.2 -27.38 Q 1.2 -25.35 1.5 -23.93 T 1.88 -21.22 Q 1.88 -18.68 0.3 -16.88 T -3.68 -14.33 T -7.5 -13.05 T -9.53 -12.75 H -9.75 Q -11.1 -17.48 -12.15 -21.82 T -13.72 -28.35 T -14.7 -32.55 T -15.52 -35.25 T -16.27 -36.67 T -17.55 -37.73 Q -18.98 -38.7 -20.7 -38.7 Q -22.57 -38.7 -23.63 -37.58 T -24.6 -35.7 Q -24.6 -34.58 -20.48 -17.7 T -12.22 15.52 L -8.1 31.8 Q -7.95 33.3 -8.85 33.6 T -13.27 34.2 H -13.8 Q -14.93 34.2 -15.3 34.2 T -16.05 34.5 T -16.43 35.32 Z"></path>
      <path class="unit latex min" id="expression" d="M -36.975 -1.65 T -36.975 0 T -35.25 2.475 H 37.35 Q 39.225 1.5 39.225 0 T 37.35 -2.475 H -35.25 Q -36.975 -1.65 -36.975 0 Z"></path>
      <path class="unit latex min2" id="expression" d="M -36.975 -1.65 T -36.975 0 T -35.25 2.475 H 37.35 Q 39.225 1.5 39.225 0 T 37.35 -2.475 H -35.25 Q -36.975 -1.65 -36.975 0 Z"></path>
      <path class="unit latex eq" id="expression" d="M -35.17 11.25 Q -35.17 12.6 -33.68 13.35 H 35.1 Q 36.75 12.53 36.75 11.25 Q 36.75 10.05 35.25 9.15 L 0.9 9.07 H -33.45 Q -35.17 9.6 -35.17 11.25 Z M -35.17 -9.75 Q -35.17 -8.1 -33.45 -7.58 H 35.25 Q 36.75 -8.63 36.75 -9.75 Q 36.75 -11.1 35.1 -11.85 H -33.68 Q -35.17 -11.1 -35.17 -9.75 Z"></path>
      <path class="unit latex brac_left" id="expression" d="M -7.95 2.25 Q -7.95 7.43 -7.2 12.08 T -5.47 20.1 T -2.7 26.7 T 0.15 31.72 T 3.3 35.63 T 5.78 38.17 T 7.65 39.75 H 8.63 H 8.92 Q 9.98 39.75 9.98 39.08 Q 9.98 38.85 8.7 37.5 T 5.63 33.52 T 1.95 27.07 T -1.2 16.73 T -2.48 2.25 T -1.2 -12.15 T 1.88 -22.57 T 5.55 -29.03 T 8.7 -33 T 9.98 -34.58 Q 9.98 -35.25 8.85 -35.25 H 8.63 H 7.65 L 5.55 -33.45 Q -1.5 -27.07 -4.72 -17.55 T -7.95 2.25 Z"></path>
      <path class="unit latex brac_right" id="expression" d="M -7.95 2.25 Q -7.95 7.43 -7.2 12.08 T -5.47 20.1 T -2.7 26.7 T 0.15 31.72 T 3.3 35.63 T 5.78 38.17 T 7.65 39.75 H 8.63 H 8.92 Q 9.98 39.75 9.98 39.08 Q 9.98 38.85 8.7 37.5 T 5.63 33.52 T 1.95 27.07 T -1.2 16.73 T -2.48 2.25 T -1.2 -12.15 T 1.88 -22.57 T 5.55 -29.03 T 8.7 -33 T 9.98 -34.58 Q 9.98 -35.25 8.85 -35.25 H 8.63 H 7.65 L 5.55 -33.45 Q -1.5 -27.07 -4.72 -17.55 T -7.95 2.25 Z"></path>
      <path class="unit latex F" id="expression" d="M -36.8 -37.4 Q -38.6 -37.4 -38.6 -36.3 Q -38.6 -36.1 -38.3 -34.9 Q -37.9 -33.1 -37.5 -32.9 T -35 -32.6 Q -32.2 -32.6 -28.7 -32.3 Q -27.2 -32 -26.7 -31 Q -26.5 -30.5 -19.1 -1.3 T -11.8 28.4 Q -11.8 29.1 -12.2 29.1 Q -13 29.4 -17.8 29.6 H -21.1 Q -21.7 30.2 -21.7 30.5 T -21.4 32.3 Q -21.1 34.1 -20.4 34.5 H 36.6 Q 37.4 34.1 37.4 33.3 Q 37.4 32.8 36 21.4 T 34.5 9.8 Q 34.3 9.1 32.4 9.1 H 31.1 Q 30.4 9.6 30.4 10.4 Q 30.4 10.6 30.7 13 T 31 18.6 Q 31 21.8 30.3 23.8 T 28.3 27.1 T 24.4 28.8 T 19 29.5 T 11.3 29.6 H 8.9 Q 0.2 29.5 -0.3 29.3 Q -0.8 29.1 -1.1 28.4 Q -1.1 28.4 -4.7 14.6 L -8 0.9 H -2.3 Q -1.9 0.9 0.2 0.9 T 3.2 1.1 T 5.5 1.3 T 8 2.1 T 9.8 3.4 Q 11.3 4.7 12.2 6.8 T 13.6 10.9 T 14.1 12.8 Q 14.4 13.3 16.1 13.3 H 17.4 Q 18.1 12.8 18.1 12.2 Q 18.1 11.9 14.9 -1.6 T 11.3 -15.6 Q 11 -16.4 9.1 -16.4 H 7.9 Q 7.1 -15.7 7.1 -15.1 Q 7.1 -14.8 7.6 -12.8 T 8.2 -8.5 Q 8.2 -5.4 6.1 -4.7 T -3.4 -4 H -9.2 L -12.6 -17.4 Q -16 -30.5 -16 -31.1 Q -16 -32.6 -6.5 -32.6 H -3.9 Q -3.3 -33.3 -3.3 -33.4 T -3.4 -35.5 Q -3.9 -36.9 -4.6 -37.5 H -6.4 Q -10.6 -37.3 -22.3 -37.3 Q -29.2 -37.3 -32.8 -37.3 T -36.8 -37.4 Z"></path>

      <path class="unit latex x" id="second" d="M -33.45 13.35 Q -32.4 19.65 -25.35 27.9 T -7.95 36.3 Q -2.7 36.3 1.65 33.6 T 8.1 26.85 Q 14.4 36.3 23.25 36.3 Q 28.8 36.3 32.85 33 T 37.05 24.15 Q 37.05 19.8 34.95 17.1 T 30.9 13.8 T 27.45 13.2 Q 24.6 13.2 22.8 14.85 T 21 19.2 Q 21 26.1 28.5 28.65 Q 26.85 30.6 22.5 30.6 Q 20.55 30.6 19.65 30.3 Q 13.95 27.9 11.25 20.4 Q 2.25 -12.75 2.25 -18.3 Q 2.25 -22.5 4.65 -24.3 T 9.9 -26.1 Q 15.45 -26.1 20.85 -21.15 T 28.2 -9 Q 28.65 -7.5 29.1 -7.35 T 31.5 -7.05 H 32.1 Q 34.35 -7.05 34.35 -8.25 Q 34.35 -8.4 34.05 -9.9 Q 31.65 -18.45 24.75 -25.05 T 8.7 -31.65 Q -1.8 -31.65 -7.2 -22.2 Q -13.35 -31.5 -21.3 -31.5 H -22.2 Q -29.55 -31.5 -32.7 -27.6 T -36 -19.35 Q -36 -14.55 -33.15 -11.55 T -26.4 -8.55 Q -19.95 -8.55 -19.95 -14.85 Q -19.95 -17.85 -21.75 -20.1 T -25.2 -23.1 T -27.15 -23.85 L -27.6 -24 Q -27.6 -24.15 -26.7 -24.6 T -24.3 -25.65 T -21.45 -26.1 Q -16.05 -26.1 -12.15 -19.35 Q -10.8 -16.95 -8.7 -9.15 T -4.5 7.05 T -2.1 16.95 Q -1.35 21 -1.35 22.8 Q -1.35 27 -3.6 28.8 T -8.7 30.6 Q -14.7 30.6 -19.95 25.8 T -27.3 13.5 Q -27.6 12.15 -28.05 12 T -30.45 11.7 H -32.55 Q -33.45 12.6 -33.45 13.35 Z"></path>
      <path class="unit latex l l_0" id="second" d="M -2.25 -31.05 Q -2.25 -34.65 0.53 -34.65 Q 4.5 -34.65 7.35 -23.18 Q 8.03 -21 8.47 -20.93 Q 8.7 -20.78 9.53 -20.78 H 9.98 Q 10.95 -20.78 11.32 -20.78 T 11.85 -21 T 12.08 -21.75 Q 11.93 -22.43 11.78 -23.55 T 10.57 -27.68 T 8.32 -32.77 T 4.95 -36.83 T -0.07 -38.7 Q -3.98 -38.7 -7.35 -36.3 T -10.88 -28.2 Q -10.88 -26.92 -10.72 -26.4 L -3.68 1.8 Q 3.22 29.63 3.22 30.52 Q 3.22 30.82 3.15 31.05 T 2.7 31.5 T 2.1 31.72 T 1.28 31.8 T 0.38 31.95 T -0.6 32.02 T -1.65 32.02 Q -2.77 32.02 -3.08 32.02 T -3.98 32.1 T -4.65 32.48 T -4.72 33.15 Q -4.72 33.3 -4.5 34.65 Q -3.98 36.75 -3.3 36.98 T 4.5 37.58 Q 6.15 37.73 8.25 37.8 T 11.55 38.17 T 12.75 38.25 Q 14.03 38.25 14.03 37.35 Q 14.03 36.15 6.08 4.65 T -2.1 -28.43 Q -2.1 -28.65 -2.1 -29.33 T -2.25 -30.38 V -31.05 Z M 20.93 -20.63 Q 22.2 -18.75 24.38 -18.75 Q 25.43 -18.75 26.47 -19.35 T 28.27 -21.45 Q 29.1 -23.25 29.1 -26.55 Q 29.1 -30.08 28.13 -31.88 Q 27.68 -32.85 26.92 -33.38 T 25.5 -34.13 T 24.38 -34.27 Q 23.77 -34.27 23.18 -34.13 T 21.82 -33.38 T 20.63 -31.88 Q 19.65 -30.08 19.65 -26.55 Q 19.65 -22.65 20.93 -20.63 Z M 25.95 -20.33 Q 25.28 -19.57 24.38 -19.57 Q 23.4 -19.57 22.72 -20.33 Q 22.2 -20.93 21.97 -21.9 T 21.82 -26.25 Q 21.82 -29.85 21.97 -30.9 T 22.8 -32.7 Q 23.48 -33.38 24.38 -33.38 Q 25.28 -33.38 25.87 -32.7 Q 26.55 -32.02 26.7 -30.82 T 26.92 -26.25 Q 26.92 -23.02 26.7 -21.97 T 25.95 -20.33 Z"></path>
      <path class="unit latex fancy_bracket" id="expression" d="M 13.8 -36.07 Q 13.8 -37.05 13.35 -37.5 H 12 Q 2.33 -37.5 -1.5 -32.55 Q -1.88 -32.02 -2.1 -31.65 T -2.48 -30.82 T -2.77 -29.85 T -2.92 -28.73 T -3 -27.07 T -3.08 -25.05 T -3.08 -22.27 T -3.08 -18.75 Q -3.08 -17.18 -3.08 -14.78 Q -3.15 -8.1 -3.45 -7.28 Q -3.52 -7.2 -3.52 -7.13 Q -4.58 -4.42 -7.28 -2.92 T -12.6 -1.43 Q -13.42 -1.43 -13.65 -1.2 T -13.88 0 T -13.65 1.2 T -12.6 1.43 Q -10.05 1.43 -7.35 2.92 T -3.52 7.13 Q -3.15 7.95 -3.15 9.53 T -3.08 20.93 V 24.68 Q -3.08 28.8 -2.63 30.45 T -0.45 33.6 Q 1.5 35.55 5.55 36.75 Q 8.32 37.35 9.53 37.42 Q 9.68 37.42 10.5 37.42 T 11.85 37.5 H 13.35 Q 13.8 37.05 13.8 36.15 Q 13.8 35.17 13.57 34.95 Q 13.42 34.73 12.38 34.73 Q 8.4 34.5 6.15 32.92 T 3.45 29.78 Q 3.08 28.8 3.08 18.68 V 12.53 Q 3.08 9 2.85 7.72 T 1.58 4.8 Q -0.75 1.58 -4.95 0.38 L -6 0 L -4.95 -0.38 Q -3.6 -0.82 -2.25 -1.5 T 0.9 -4.05 T 3 -8.47 Q 3.08 -8.92 3.08 -18.68 Q 3.08 -28.8 3.45 -29.78 Q 4.2 -31.8 6.67 -33.15 T 12.38 -34.73 Q 13.42 -34.73 13.57 -34.95 Q 13.8 -35.17 13.8 -36.07 Z"></path>
    </svg>
  </div>
  <p class="sim_explanation">Notes on good practice and on the simulation on the top of this page: </p>
  <p class="sim_explanation">The note on good practice is that you should keep in mind that Hooke's law describes the relationship between the change in the <em>length</em> of the spring to the force it applies in response. Not to the change in position along some axis from equilibrium. In the coordinate system that I presented above, it just happens that the spring is parallel to the \(x\)-axis, but if that was not the case one would have to use trigonometry to obtain the lengths and the direction of the force produced by the spring.</p>
  <p class="sim_explanation">The note on the simulation is that I presented it as a 1 dimensional simulation. Therefore trigonometry was not used to account for situations where the spring is not perpendicular to the dispacement. The spring presented in the simulation treats the displacements along the \(x\) and \(y\) axis completely independently. A more appropriate depiction of what has been modelled in the simulation can be found below and the proper treatment of hooke's law in more than one dimension can be in an upcoming simulation. </p>
  <div style = "display: flex; justify-content: center;">
    <svg id="first">
      <path class="unit spring" id="third" d="M -37.5 0 L -30 0 L -22.5 -15 L -15 15 L -7.5 -15 L 0 15 L 7.5 -15 L 15 15 L 22.5 -15 L 30 0 L 37.5 0"></path>
      <path class="unit square" id="third" d="M -37.5 37.5 L -37.5 -37.5 L 37.5 -37.5 L 37.5 37.5 Z"></path>
      <path class="unit spring2" id="third" d="M -37.5 0 L -30 0 L -22.5 -15 L -15 15 L -7.5 -15 L 0 15 L 7.5 -15 L 15 15 L 22.5 -15 L 30 0 L 37.5 0"></path>
      <path class="unit latex min3" id="third" d="M -36.975 -1.65 T -36.975 0 T -35.25 2.475 H 37.35 Q 39.225 1.5 39.225 0 T 37.35 -2.475 H -35.25 Q -36.975 -1.65 -36.975 0 Z"></path>
      <path class="unit latex min4" id="third" d="M -36.975 -1.65 T -36.975 0 T -35.25 2.475 H 37.35 Q 39.225 1.5 39.225 0 T 37.35 -2.475 H -35.25 Q -36.975 -1.65 -36.975 0 Z"></path>
      <circle class="wheel" cx="0" cy="0" r=".5"></circle>
      <circle class="wheel2" cx="0" cy="0" r=".5"></circle>
    </svg>
  </div>
</body>
