<h1>Explanation</h1>
<p class="sim_explanation">This is an N-body simulation where all bodies occupy
part of the 2dimensional space available in the simulation. To make numerical inputs
less intimidating, some values were scaled up and down. This simulation is still under
development. But it is meant to give you a visual intuition as to how forces add
in a setting where gravitation dominates. In this relative scale, the distance between
gridlines is 50m. This text is not final, it is only meant as a test!</p>
<p>The law of gravitation was delveloped by newton a couple hundred years ago.
  It is a law that describes attraction between masses in terms of the masses and
  their absolute distance.</p>
<p>But before showing you the math, it is better to visualize the phenomenon.
  Below you can find an image of masses whose attraction the law of gravitation
  attempts to describe</p>
<div style = "display: flex; justify-content: center;">
  <svg width="25em" height="10em">
    <rect width="100%" height="100%" fill="#444" />
    <circle cx="75%" cy="50%" r="60" fill="blue" stroke="black" />
    <circle cx="25%" cy="50%" r="60" fill="blue" stroke="black" />
   <text x="20%" y="50%" font-family="georgia">m1</text>
    <text x="70%" y="50%" font-family="georgia">m2</text>
  </svg>
</div>
<p>Observation of the solar system shows that masses like these are in fact constantly attracting one another as shown through arrows in the image below.</p>
<div style = "display: flex; justify-content: center;">
  <svg width="25em" height="10em">
    <rect width="100%" height="100%" fill="#444" />
    <circle cx="75%" cy="50%" r="60" fill="blue" stroke="black" />
    <circle cx="25%" cy="50%" r="60" fill="blue" stroke="black" />
   <text x="20%" y="40%" font-family="georgia">m1</text>
    <text x="70%" y="40%" font-family="georgia">m2</text>
   <polygon points="100,75 100,85 150,85 150,95 170,80 150,65 150,75"
            stroke="black" stroke-width="3" fill="rgb(121,0,121)"></polygon>
    <polygon points="300,75 300,85 250,85 250,95 230,80 250,65 250,75"
            stroke="black" stroke-width="3" fill="rgb(121,0,121)"></polygon>
  </svg>
</div>
<p>As shown in the picture, the forces are always directed torwards the centers of mass of the masses. This is because of the symetry of the sphere. For every atom above the middle point of each mass, there is one below pulling in the exact opposite direction. Therefore what is left for the net force is the pulling directly torwards the center of mass.</p>
<p>Another property of gravitation is that the force that one the masses involved feel is the same (of course only valid for the simple geometry of two sphere and some other specific scenarios.) But let us focus on the simple case with two masses. In this case it has been shown that doubling either mass causes the gravitational pull to double. Doubling both masses causes the attraction to become four times greater!!! Therefore it makes sense that a formula that describes the gravitational pull as a function of the masses and distance would contain a term that results from multiplying to the masses involved!
  Something in the form:
  <math>
 $m1*m2*k$
  </math>
</p>
<p>Furthermore, doubling the distance between the bodies causes the pull to become a fourth of what it was before, therefore it makes sense that part of this relationship comes in the form: <math>$1/r^2*k*m1*m2</math></p>
<p>Lastly, measurements show that the absolute value of the force is obtained when we take k to be 6.674 30 x 10-11 m3 kg-1 s-2. This value is usually written in textbooks using capital G, for what could mean "gravity"!!!</p>
<p>There is much more to say about gravitation but no time to write about it just yet. Therefore we provide you with the simulation above. To play and develop an intuition to what it "looks like" when bodies attract through gravity!</p>
