
<style>
.explanation{
  display: flex;
  flex-direction: column;
  padding-left: 4em;
  padding-right: 4em;
}
</style>
<div class = "explanation">
<h1 class = "sim_explanation">Explanation</h1>
<p class="sim_explanation">This is an N-body simulation where all bodies occupy
part of the 2dimensional space available in the simulation. To make numerical inputs
less intimidating, some values were scaled up and down. This simulation is still under
development. But it is meant to give you a visual intuition as to how forces add
in a setting where gravitation dominates. In this relative scale, the distance between
gridlines is 50m. This text is not final, it is only meant as a test!</p>
